<h1>Hello, Rails!</h1>
<h2>It's me.</h2>

<p>This blog has <strong><%= Article.public_count %></strong> articles publicly available for you!</p>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <!-- the link_to helper converts the aimed object into a targetable path by using the path helper -->
        <%= link_to article.id, article %> 
        <a href="<%= article_path(article)%>"> 
          <%= article.title %>
          <%= article.body %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path%>
