<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data:
  {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>


<%#   @method: render 
        This will render the _comment.html partial for each comment that is in the @article.comments collection. It furthermore assigns each varuiable to a local variable

        ??? HOW IS THIS RENDERING POSSIBLE?
%>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form", article: @article %>